<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="playlists" routerLinkActive="active">Playlists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="music" routerLinkActive="active">Music</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>

